/* THIS IS ONLY FOR THE MOBILE MENUBAR */
/* You'll find the normal CSS in header.css. */
@media (max-width: 800px)
{
    .menuicon
    {
        display:block;
    }
}
@media (min-width: 800px)
{
    .menuicon
    {
        display:none;
    }
}
.menuicon
{
    border:1px solid #828D94;
    border-radius:50%;
    padding-left:11px;
    padding-top:3px;
    padding-bottom:3px;
    padding-right:3px;
    max-width:40px;
    max-height:40px;
}
.menuicon1
{
    filter:invert(90%);
    position:relative;
    right:4px;
    top:4px;
}
#closemenu
{
    position:relative;
    top:-28px;
    display:none;
}
#openmenu
{
    position:relative;
    top:0px;
}
@keyframes menuanim {
    0% {
      background-color:rgba(255, 255, 255, 0.2);
    }
    100% {
        background-color:transparent;
    }
  }
#menuicon
{
    border-radius:50%;
    max-width:40px;
    max-height:40px;
}
#menuicon:active
{
    animation: none;
}
#menuicon:focus
{
    animation: menuanim 1s ease-in-out backwards;
}